@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* Default styles*/
  body {
    @apply bg-black text-white bg-[url("./images/background.png")];
  }

  .nav-link {
    @apply text-white visited:text-white hover:underline p-2 hover:bg-[#ffe259] hover:bg-opacity-25;
  }

  #mobile-nav li a {
    @apply p-4 hover:bg-gray-900 active:bg-gray-900 block;
  }

  .banner-link {
    @apply block text-black p-4 bg-gradient-to-b from-[#ffe259] to-[#ffa751] hover:to-[#e38441] hover:from-[#ffcf7b] border-2 border-[#ff6200] font-system-ui uppercase relative shadow-retro transition-all active:shadow-none active:top-[10px] text-center;
  }

  .btn {
    @apply text-black p-4 w-fit bg-gradient-to-b from-[#ffe259] to-[#ffa751] hover:to-[#e38441] hover:from-[#ffcf7b] border-2 border-[#ff6200] font-system-ui uppercase relative shadow-retro transition-all active:shadow-none active:top-[10px] text-center;
  }

  .dropdown {
    animation: growDown 250ms ease-in-out;
    transform-origin: top center;
    scroll-margin-top: 100px;
  }

  .current-link {
    @apply bg-gradient-to-b from-[#ffe259] to-[#ffa751] hover:to-[#e38441] hover:from-[#ffcf7b] !text-black;
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}
